extends layouts/head
block title
    title Create note
block main
    div(class = "container-fluid")
        form
            div(class="form-group")
                input(type="text", class="form-control", id="noteTitle", name="Title", value="", placeholder="Заголовок записки")

            div(class="form-group")
                label Оставить напоминание
                input(type="text", class="form-control", id="expiredDate", name="Date")

            div(class="form-group shadow-textarea")
                textarea(id="noteBody" class="form-control z-depth-1" rows="6" placeholder="Напишите здесь что-нибудь")

            button(type="submit", class="btn btn-primary") Создать заметку